{{define "header-template"}}

<div class="home">
	<form action="/" method="GET">
	<input type ="submit" value="Home">
	</form>
</div>

<div class="about">
	<form action="/about" method="GET">
	<input type ="submit" value="About">
	</form>
</div>

{{end}}
