<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>GOsite</title>
</head>
<body>
    {{template "header-template"}}
    
    <h1>{{ .Title }}</h1>

    
    {{range .Body}}
    <p>
    {{. }}
    </p>
    {{end}}
    
   
    <h3>{{.Footer}}</h3>

</body>
</html>
